body{
    background-color: rgb(255, 255, 255);
    padding: 0;
    margin: 0;
    min-height: 100vh;
}
.logo-furnicare{
    width: 300px;
}
.bg-right{
    height: 100vh;
    background-color: #FFF5E9;
}
.login-logo{
    padding: 250px 0 0 200px;
}
.form-login{
    padding: 200px 250px 0 250px;
}

.button-login{
    padding: 5px 60px;
    background-color: #797051;
    color: white;
    border-radius: 0;
    border-color: white;
}

.button-login:hover{ 
    background-color: #4e4d49;
}
.button-signup{
    padding: 5px 60px;
    border: 1px solid #797051;
    color: #797051;
    border-radius: 0;
}
.text-logo{
    padding-left: 15px;
    padding-top: 5px;
    color: #797051;
}
.form-login{
    height:au;
}
.welcome-font{
    color: #797051;
}